<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dockPanelSuite" type="WeifenLuo.WinFormsUI.Docking.Configuration.PatchSection, WeifenLuo.WinFormsUI.Docking"/>
  </configSections>
  <dockPanelSuite enableHighDpi="false" 
                  enableContentOrderFix="false" 
                  enableFontInheritanceFix="false" 
                  enableMainWindowFocusLostFix="false" 
                  enableMemoryLeakFix="false" 
                  enableNestedDisposalFix="false" 
                  enableActiveXFix="true" 
                  enableDisplayingPaneFix="false" 
                  enableActiveControlFix="false"
                  enableFloatSplitterFix="false"
                  enableActivateOnDockFix="false"
                  enableSelectClosestOnClose="false" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
