<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dockPanelSuite" type="WeifenLuo.WinFormsUI.Docking.Configuration.PatchSection, Tests2"/>
  </configSections>
  <dockPanelSuite enableHighDpi="false"
                  enableContentOrderFix="false"
                  enableFontInheritanceFix="false"
                  enableMainWindowFocusLostFix="false"
                  enableMemoryLeakFix="false"
                  enableNestedDisposalFix="false"/>
</configuration>