<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dockPanelSuite" type="WeifenLuo.WinFormsUI.Docking.Configuration.PatchSection, WeifenLuo.WinFormsUI.Docking"/>
  </configSections>
  <dockPanelSuite 
    enableHighDpi="false"
    enableContentOrderFix="false" 
    enableFontInheritanceFix="false"
    enableMainWindowFocusLostFix="false"
    enableMemoryLeakFix="false" 
    enableNestedDisposalFix="false"
    enableActiveXFix="false"
    enableDisplayingPaneFix="false"
    enableActiveControlFix="false"
    />
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
